@page
@model lab12New.Pages.Recipients.CreateModel
@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resipient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="recipient.Id" class="control-label"></label>
                <input asp-for="recipient.Id" class="form-control" />
                <span asp-validation-for="recipient.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient.FullName" class="control-label"></label>
                <input asp-for="recipient.FullName" class="form-control" />
                <span asp-validation-for="recipient.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient.Country" class="control-label"></label>
                <input asp-for="recipient.Country" class="form-control" />
                <span asp-validation-for="recipient.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient.Address" class="control-label"></label>
                <input asp-for="recipient.Address" class="form-control" />
                <span asp-validation-for="recipient.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Recipient">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
